
.about {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
}
.about__wrapper{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about img{
    width: 260px;
    height: 260px;
    padding: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#dear-girls{
    font-weight: normal;
    font-style: normal;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    line-height: 45px;
}
.about-text__wrapper{
    height: 40%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-text__wrapper span{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
}
