.main-menu * {
  z-index: 2;
}
.main-menu {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(61, 61, 61);
}
.triangle {
  font-size: 10px;
}
.menu_wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-menu__title {
  font-family: var(--font-sans);
  font-size: 28px;
  color: var(--accent);
  text-shadow:
    rgba(0, 0, 0, 0.2) 2px 5px 9px,
    rgba(255, 255, 255, 0.298039) 0px -5px 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}
#main-menu__subtitle {
  font-family: var(--font-sans);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-style: normal;
}

nav {
  flex-grow: 1;
  max-width: 800px;
  align-content: center;
  height: 85px;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.main-menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}
.main-menu__list li {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-menu__list a {
  font-family: var(--font-heading);
  font-size: 17px;
  height: 100%;
  color: #fff;
  display: block;
  text-align: center;
  align-content: center;
  transition: all 0.3s ease 0s;
}
.main-menu__list a:hover {
  background-color: var(--accent);
  text-shadow:
    rgba(0, 0, 0, 0.2) 2px 5px 9px,
    rgba(255, 255, 255, 0.298039) 0px -5px 35px;
}
.sub-menu {
  padding-top: 10px;
  width: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  background-color: rgb(61, 61, 61);
  transition: opacity 0.3s ease 0s;
  pointer-events: none;
}
.sub-menu a {
  display: block;
  text-align: start;
  flex-grow: 1;
  height: 40px;
  padding-left: 20px;
}
.first-dropdown:hover .sub-menu,
.second-dropdown:hover .sub-menu {
  opacity: 1;
  pointer-events: auto;
}

/* Меню типов платьев */
.types-selector {
  position: relative;
}

.details-selector {
  position: relative;
}
.type-dress-submenu {
  position: absolute;
  width: 100%;
  flex-grow: 1;
  top: 0;
  left: 200px;
  background-color: rgb(61, 61, 61);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;
}
.details-submenu {
  position: absolute;
  width: 100%;
  flex-grow: 1;
  left: 200px;
  top: 0px;
  background-color: rgb(61, 61, 61);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0s;
}
.types-selector:hover .type-dress-submenu {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease 0s;
}
.details-selector:hover .details-submenu {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease 0s;
}
